<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Fernando Quiroga Segobia">
    <link rel="stylesheet" type="text/css" href="../static/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Righteous&display=swap" rel="stylesheet">
    <title>Adivinador</title>
</head>
<body>
    <header class="header">
        <img src="../static/imgs/logo_adivinator.png">
        <nav class="barnav">
            <ul>
                <li><a class="navbtn" href="/">HOME</a></li>
                <li><a class="navbtn" href="/about">ABOUT</a></li>
            </ul>
        </nav>
    </header>