/*
FONT FAMILY:
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Righteous&display=swap" rel="stylesheet">
CSS RULES TO SPECIFY FAMILLIES:
    font-family: 'Comfortaa', cursive;
    font-family: 'Righteous', cursive;
*/

*, *::before, *::after{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid green; */
}
body{
    background-color: #ffd452;
    font-family: 'Comfortaa', cursive;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 50px 0;
    /* border: 2px solid green; */
}
.barnav{
    margin-top: 30px;
    width: 100%;
    font-family: 'Righteous', cursive;
    font-size: 2em;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin-top: 10px;
}
.navbtn{
    text-decoration: none;
    color: black;
    transition: 0.7s;
}
.navbtn:hover{
    color: green;
    border-radius: 10px;
    background-color:white;
}
.content{
    display: block;
    text-align: center;
    margin-bottom: 70px;
}
.Adivinator{
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 70px;
}
#inicio{
    margin-bottom: 40px;
}
#inicio input{
    width: 100px;
}
#start{
    display: block;
}
#pregunta{
    margin-bottom: 40px;
    display: none;
}
#pregunta input{
    width: 100px;
}
#preguntando{
    display: block;
}
#label1{
    display: none;
    color: green;
}
#label2{
    display: none;
    color: red;
}
#Newanimal{
    display: none;
    font-size: 1.5em;
}
#Newanimal div{
    margin-bottom: 20px;
}
#whatname{
    display: block;
}

#whatdifference{
    display: block;
}
.DiferenciaAns input{
    display: inline-block;
    width: 70px;
}
#differenceans{
    display: block;
}

.footer{
    position: relative;
    left:0px;
    bottom:0px;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 400px;
}
.bout{
    font-size: 2em;
    text-align: center;
    margin-bottom: 140px;
}

/* Media Queries */
@media screen and (max-width: 480px){
    .header img{
        display: none;
    }
    .footer{
        font-size: 80%;
    }
}