{% extends "layout.html" %}
{% block body %}
    <div class="bout">
        <p><b>Adivinator</b>, tratará de adivinar lo que estas pensando.
        Es un juego desarrollado para la materia de Estructura de Datos II
        Impartida por el Ing. Juan Carlos Peinado
        de la Universidad Autónoma Gabriel René Moreno (UAGRM).
        <b>Adivinator</b>, está desarrolado en Python 3.8.2 
        Y utiliza la Estructura de Datos 'Arbol Binario' para poder operar.
        Tras una serie de preguntas, la máquina intentará adivinar lo q estas pensando.
        Vence a la máquina y podras introducir nuevos personajes en el juego!
        </p>
    </div>

{% endblock %}