{% include 'partials/header.html' %}

    <div class="content">
        <form class="Adivinator">
            <div class="inicio">
            <label id="start">ESTÁS PENSANDO EN UN ANIMAL?</label>
            <a href="/game"><input type="button" value="SI"></a>
            </div>
            <div class="pregunta">
            <label id="preguntando">Es un X?</label>
            <input type="button" value="SI">
            <input type="button" value="NO">
            </div>
        </form>
        <form class="Newanimal">
            <div class="animalName">
            <label id="whatname">Cómo se llama el animal?</label>
            <input type="text">
            <input type="button" value="Enviar">
            </div>
            <div class="newDiferencia">
            <label id="whatdifference">Que pregunta distinguiria a un X de un Y?</label>
            <input type="text">
            <input type="button" value="Enviar">
            </div>
            <div class="DiferenciaAns">
            <label id="differenceans">Si el animal fuera un X cual sería la respuesta?</label>
            <input type="button" value="SI">
            <input type="button" value="NO">
            </div>
        </form>
    </div>

{% include 'partials/footer.html' %}