<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Fernando Quiroga Segobia">
    <link rel="stylesheet" type="text/css" href="../static/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Righteous&display=swap" rel="stylesheet">
    <title>Adivinador</title>
</head>
<body>
    <header class="header">
        <img src="../static/logo_adivinator.png">
        <nav class="barnav">
            <ul>
                <li><a class="navbtn" href="/">HOME</a></li>
                <li><a class="navbtn" href="/about">ABOUT</a></li>
            </ul>
        </nav>
    </header>
    <div class="adivinator">
        <img src="../static/imagen1.jpeg">
    </div>
    <footer class="footer">
        <div>
            <h1>Contacto</h1><br/>
            Vfqs94@gmail.com<br/><br/>
            Fernando_qs@outlook.com

        </div>
        <div>
            <h1>Adivinator</h1><br/>
            Desarrollado en: <br/>
            Santa Cruz - Bolivia<br/>
            2020
        </div>
    </footer>
</body>
</html>